@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}

.hidden {
	display: none;
}

.relative:hover .hidden {
	display: block;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	background: red;
	transform-origin: 0%;
}

.light-mode {
	--bg-background: #fff;
	--text-primary: #000;
	--text-secondary: #797979;
	--border-primary: #d9d9d9;
}

.dark-mode {
	--bg-background: #131313;
	--text-primary: #fff;
	--text-secondary: #b3b3b3;
	--border-primary: #333;
}
